<div class="row">
  <aside class="span4">
    <section>
    	<%= render "shared/user_info", user: current_user %>
    </section>
    <section>
      <%= form_for @post do |f| %>
	      <%= render "shared/form_errors", record: @post %>
        <%= f.text_area :content, placeholder: "Write a new post" %><br />
        <%= f.submit "Post", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h1>Posts</h1>
    <ul class="posts">
      <%= render partial: "shared/post", collection: @posts %>
    </ul>
  </div>
</div>