<!DOCTYPE html>
<html>
<head>
  <title>Codecamp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- New header -->
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
          <%= link_to "CodeCamp", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <% if signed_in? %>
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Posts", posts_path %></li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.name %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", sessions_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Register", new_user_path %></li>
                <li><%= link_to "Sign in", new_sessions_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
    </div>
</header>
<!-- Content wrapped in container -->
<div class="container">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>  
  <%= yield %>
  <!-- New footer -->
  <footer class="footer">
    <small>
      <a href="http://codecamp.io">程式開發工作營</a>
    </small>
    <br>
  </footer>
  <!-- Debugging footer -->
  <%= content_tag :div, debug(params) if Rails.env.development? %>
</div>

</body>
</html>
